/*Componentes del render de datils*/
.detailBox
    display: flex
    background-color: whitesmoke
    

.detailContImg
    flex: 1

.detailData
    flex: 2
    //123


.boxPrecio
    height: 200px
    margin-bottom: 5px
    background-color: #009688
    display: flex
    flex-direction: row
    justify-content: space-around
    /* vertical-align: middle; */
    text-align: center
    align-items: center

.detalleText
    max-height: 750px
    overflow: auto
    box-shadow: 0 0 0 0 black

.detailPrice
    font-size: 2.5em
    flex: 0.75
    flex-shrink: 1

.detailTitle
    font-size: 1.5em
    text-align: center
    flex: 2
    border-left: 1px solid gray
    border-right: 1px solid gray

.some
    flex: 0.5
    