@import 'slide.sass'
@import 'detail.sass'

body
    background-color: lightgray
    margin: 0px
    font-family: monospace
    font-size: 17px

header
    background-color: #ffe600
    display: flex
    flex-flow: row
    flex-wrap: nowrap
    align-items: center
    justify-content: space-around
    padding: 5px 0

main
    background-color: rgb(230, 230, 230)

#favMain
    display: flex
    flex-wrap: wrap
    justify-content: center


#logo
    margin-left: 90px

#logo > img
        width: 100%

#searchInput
    width: 50%
    height: 34px
    font-size: 1.4em
    color: gray
    border: white 

#searchBox
    width: 100%
    display: flex
    justify-content: center

#searchButton
    //padding: 5px 0 2px 0
    color: gray
    border: none

#searchButton > img
    width: 50%
    padding: 3px

.userBox
    display: flex
    flex-direction: row
    flex-flow: row-reverse
    //width: 400px
    right: 14px
    position: absolute
.user
    display: flex
    align-items: center

.loginImg > img
    width: 50px
    border-radius: 25px
.fa
    font-size: 1.5em
    color: cornflowerblue

.elementBox
    display: flex
    flex-flow: row
    background-color: white
    margin: 1px 10px    
    justify-content: space-around
    padding: 10px 0

.contImg
    margin: 0 0 0 10px
    display: inline-flex


figure > img
    width: 150%

.data
    display: flex
    margin: auto
    flex-flow: row
    width: 700px
    justify-content: space-between

.price
    width: 100px

.title
    width: 400px

.addFav > i
    color: brown !important
    cursor: pointer

.addFav:hover > i
    color: red !important

/*FAVORITOS*/
.favoritosBox
    //display: flex
    //flex-flow: row
    background-color: white
    margin: 5px 5px    
    //justify-content: space-around
    padding: 10px 0
    width: 300px
    height: 450px
    transition: 1s

.favContImg
    display: inline-block
    text-align: center

.favContImg > img
    width: 100%


/*FAVORITOS*/
/*ANIMACION*/
#yourElement {
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}
/*ANIMACION*/
