body {
  background-color: lightgray;
  margin: 0px;
  font-family: monospace;
  font-size: 17px;
}

header {
  background-color: #ffe600;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0;
}

main {
  background-color: #e6e6e6;
}

#favMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#logo {
  margin-left: 90px;
}

#logo > img {
  width: 100%;
}

#searchInput {
  width: 50%;
  height: 34px;
  font-size: 1.4em;
  color: gray;
  border: white;
}

#searchBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

#searchButton {
  color: gray;
  border: none;
}

#searchButton > img {
  width: 50%;
  padding: 3px;
}

.userBox {
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
  right: 14px;
  position: absolute;
}

.user {
  display: flex;
  align-items: center;
}

.loginImg > img {
  width: 50px;
  border-radius: 25px;
}

.fa {
  font-size: 1.5em;
  color: cornflowerblue;
}

.elementBox {
  display: flex;
  flex-flow: row;
  background-color: white;
  margin: 1px 10px;
  justify-content: space-around;
  padding: 10px 0;
}

.contImg {
  margin: 0 0 0 10px;
  display: inline-flex;
}

figure > img {
  width: 150%;
}

.data {
  display: flex;
  margin: auto;
  flex-flow: row;
  width: 700px;
  justify-content: space-between;
}

.price {
  width: 100px;
}

.title {
  width: 400px;
}

.addFav > i {
  color: brown !important;
  cursor: pointer;
}

.addFav:hover > i {
  color: red !important;
}

/*FAVORITOS*/
.favoritosBox {
  background-color: white;
  margin: 5px 5px;
  padding: 10px 0;
  width: 300px;
  height: 450px;
  transition: 1s;
}

.favContImg {
  display: inline-block;
  text-align: center;
  margin: 0 8px 0 8px;
}

.favContImg > img {
  width: 100%;
  max-height: 226px;
  box-shadow: 0px 3px 12px 0px black;
  padding: 0px;
}

#msje {
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  color: #777574;
}

#txtBusqueda {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

/*FAVORITOS*/
/*ANIMACION*/
/*#yourElement
  -vendor-animation-duration: 3s
  -vendor-animation-delay: 2s
  -vendor-animation-iteration-count: infinite*/
/*ANIMACION*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

/*Componentes del render de datils*/
.detailBox {
  display: flex;
  background-color: whitesmoke;
}

.detailContImg {
  flex: 1;
}

.detailData {
  flex: 2;
}

.boxPrecio {
  height: 200px;
  margin-bottom: 5px;
  background-color: #009688;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* vertical-align: middle; */
  text-align: center;
  align-items: center;
}

.detalleText {
  max-height: 750px;
  overflow: auto;
  box-shadow: 0 0 0 0 black;
}

.detailPrice {
  font-size: 2.5em;
  flex: 0.75;
  flex-shrink: 1;
}

.detailTitle {
  font-size: 1.5em;
  text-align: center;
  flex: 2;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.some {
  flex: 0.5;
}
 

 /*# sourceMappingURL= style.css.map */